@model IEnumerable<BTBS.MVC.Models.RouteViewModel>

@{
    ViewBag.Title = "AllRoutes";
}

<h2>AllRoutes</h2>

<a href="https://localhost:44374/Admins/AddRoute" class="btn btn-primary btn-lg link-btn">Add Route</a>
<br />
<br />
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Route_No)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Route_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stops)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stage_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Stage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Route_No)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Route_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stops)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stage_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Stage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_time)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    <td>
        <button type="button" class="btn-info" onclick="location.href = '@Url.Action("EditRoute","Admins",new {id=item.Route_No })'" @*name="id" value="id=@item.Agent_Id"*@>
            @*onclick="location.herf='@Url.Action("ODZCaseCreat","ODZ")'"*@
            <span class="glyphicon glyphicon-edit"></span>
        </button> |
        <button type="submit" class="btn-danger" onclick="location.href = '@Url.Action("DeleteRoute","Admins",new {id=item.Route_No })'">
            <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
    </td>
    </tr>
}

</table>
