@model BTBS.MVC.Models.RouteViewModel

@{
    ViewBag.Title = "DeleteRoute";
}

<h2>DeleteRoute</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>RouteViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stops)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stage_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Stage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Stage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "AllRoutes")
        </div>
    }
</div>
